a2wsgi==1.10.10
adal==1.2.7
adbc_driver_manager==1.7.0
adbc_driver_postgresql==1.7.0
adbc_driver_sqlite==1.7.0
ads==0.12.7
aerospike_vector_search==4.2.0
aesara==2.9.4
ain==0.0.2
aiodns==3.5.0
airbyte_cdk==6.60.12
aleph_alpha_client==11.2.0
alibabacloud_ha3engine_vector==1.1.17
alibabacloud_tea_util==0.3.13
anywidget==0.9.18
apify_client==1.12.2
AppKit==0.2.8
arango==0.2.1
arcgis==2.4.1.2
argilla==2.8.0
arize==7.48.3
arthurai==3.33.3
astrapy==2.0.1
atheris==2.3.0
atlassian==0.0.0
authlib==1.6.1
azureml==0.2.7
baidubce==0.8.3
banana_dev==6.3.0
bibtexparser==1.4.3
bigdl==2.4.0
bilibili_api==9.1.0
bokeh==3.7.3
boto3==1.40.7
botocore==1.40.7
brotli==1.1.0
brotlicffi==1.1.0.0
capturer==3.0
cassio==0.1.10
cchardet==2.1.7
chardet==5.2.0
checks==0.2
clarifai_grpc==11.7.1
clickhouse_connect==0.8.18
cloudpathlib==0.21.1
cloudpickle==3.1.1
cog==0.16.2
colorama==0.4.6
comet_llm==2.2.7
ConfigParser==7.2.0
confluent_kafka==2.11.0
controlnet_aux==0.0.10
cryptography==45.0.6
ctypes_snappy==1.03
cudf==0.6.1.post1
cupy==13.5.1
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.1.2
dask_expr==2.0.0
datadog_api_client==2.40.0
deepeval==3.3.9
defusedxml==0.7.1
dgml_utils==0.3.4
diffusers==0.34.0
dingodb==0.3.0
doctran==0.0.14
docutils==0.22
docx2txt==0.9
dria==0.0.124
dynamodb_encryption_sdk==3.3.0
e2b==1.11.1
elevenlabs==2.9.2
email_validator==2.2.0
esprima==4.0.1
eval_type_backport==0.2.2
evaluate==0.4.5
exceptiongroup==1.3.0
extract_msg==0.54.1
fake_useragent==2.2.0
fastai==2.8.3
fastapi_cli==0.0.8
faster_whisper==1.2.0
fastparquet==2024.11.0
feedparser==6.0.11
firebase_admin==7.1.0
fitz==0.0.1.dev2
flashrank==0.2.10
flint==0.0.1
flytekit==1.16.3
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freezegun==1.5.5
geopandas==1.1.1
gitdb_speedups==0.1.0
gliner==0.2.21
gmpy2==2.2.1
google_api_python_client==2.178.0
google_auth_oauthlib==1.2.2
googlemaps==4.10.0
gptcache==0.1.44
gpudb==7.2.2.11
gql==3.5.3
gradientai==1.13.1
gradio==5.42.0
grandalf==0.8
greenlet==3.2.4
grpc_reflection==1.0.0
grpc_tools==1.0.0
guardrails==2.0.0
gunicorn==23.0.0
h2==4.2.0
h5py==3.14.0
hdbcli==2.25.29
hf_transfer==0.1.9
hnswlib==0.8.0
hologres_vector==0.0.10
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.137.3
ibis==3.3.0
ibm_watsonx_ai==1.3.32
infinity_client==0.0.76
infinity_emb==0.0.76
InquirerPy==0.3.4
InstructorEmbedding==1.0.1
intel_extension_for_transformers==1.4.2
ipython==9.4.0
ipywidgets==8.1.7
isal==1.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jaguardb_http_client==3.4.6.2
jaraco.util==15.0.0
javelin_sdk==0.2.40
jnius==1.1.0
joblib==1.5.1
JPype1==1.6.0
jq==1.10.0
jsonpath_ng==1.7.0
kdbai_client==1.7.0
kerchunk==0.2.9
keybert==0.9.0
keyring==25.6.0
kubernetes_validate==1.33.1
label_studio_sdk==1.0.20
langchain_anthropic==0.3.18
langchain_astradb==0.6.0
langchain_aws==0.2.30
langchain_azure_ai==0.1.5
langchain_chroma==0.2.5
langchain_cohere==0.4.5
langchain_deepseek==0.1.4
langchain_elasticsearch==0.3.2
langchain_experimental==0.3.4
langchain_fireworks==0.3.0
langchain_google_genai==2.1.9
langchain_google_vertexai==2.0.28
langchain_groq==0.3.7
langchain_huggingface==0.3.1
langchain_ibm==0.3.15
langchain_milvus==0.2.1
langchain_mistralai==0.2.11
langchain_mongodb==0.6.2
langchain_neo4j==0.5.0
langchain_nvidia_ai_endpoints==0.3.16
langchain_ollama==0.3.6
langchain_openai==0.3.29
langchain_perplexity==0.1.2
langchain_pinecone==0.2.11
langchain_postgres==0.0.15
langchain_qdrant==0.2.0
langchain_together==0.3.1
langchain_weaviate==0.0.5
langchain_xai==0.2.5
langchainhub==0.1.21
langsmith_pyo3==0.1.0rc5
laser_encoders==0.0.2
librosa==0.11.0
listparser==0.20
llmlingua==0.2.2
llmonitor==0.0.51
loop==1.0.0
lorax==0.94.86
lxml==6.0.0
lz4==4.4.4
lzmaffi==0.3.0
manticoresearch==9.0.0
mask==1.0.0
matchpy==0.5.5
mcp==1.12.4
mediawikiapi==1.3
metal_sdk==2.5.1
mistralai==1.9.3
mlx_lm==0.26.3
modelscope==1.28.2
modin==0.34.1
monotonic==1.6
motor==3.7.1
mpi4py==4.1.0
msal==1.33.0
mtrand==0.1
multiset==3.2.0
mwparserfromhell==0.7.2
mwxml==0.3.6
mypy_boto3_secretsmanager==1.40.0
nest_asyncio==1.6.0
neural_compressor==3.4.1
newspaper==0.1.0.7
nlu==5.4.1
nomic==3.5.3
nucliadb_models==6.7.0.post4806
nucliadb_protos==6.7.0.post4806
numexpr==2.11.0
nvtx==0.2.13
O365==2.1.5
oauth2client==4.1.3
obs==0.0.0
oci==2.157.1
odfpy==1.4.1
odps==3.5.1
olefile==0.47
onnx==1.18.0
onnx_graphsurgeon==0.5.8
onnxruntime_extensions==0.14.0
onnxscript==0.3.2
openapi_pydantic==0.5.1
openpyxl==3.1.5
optimum==1.27.0
outcome==1.3.0.post0
parameterized==0.9.0
paramiko==4.0.0
pdf2image==1.17.0
pdfminer==20191125
pdfplumber==0.11.7
pinecone_text==0.11.0
plotly==6.2.0
polars==1.32.2
polygraphy==0.49.26
praw==7.8.1
promptlayer==1.0.64
psutil==7.0.0
psychicapi==0.8.4
py==1.11.0
py3nvml==0.2.7
pyairtable==3.1.1
pycares==4.10.0
pycosat==0.6.6
pycryptodome==3.23.0
pycurl==7.45.6
pydub==0.25.1
pydy==0.7.1
pyepsilla==0.3.14
pygit2==1.18.1
pyglet==2.1.6
pygraphviz==1.14
PyInstaller==6.15.0
pymc==5.25.1
pymc3==3.11.6
pymemcache==4.0.0
pymilvus==2.6.0
pymongo==4.14.0
pymupdf==1.26.3
pyodide==0.0.2
pyOpenSSL==25.1.0
pyowm==3.3.0
pyparsing==3.2.3
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperf==2.9.0
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.9.1
pysat==3.2.2
PySide6==6.9.1
pyspark==4.0.0
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.13
python-decouple==3.8
python_calamine==0.4.0
python_multipart==0.0.20
python_socks==2.7.2
pyTigerGraph==1.9.0
pytube==15.0.0
pyu2f==0.1.5
pyxlsb==1.0.10
qcloud_cos==3.3.6
qdrant_client==1.15.1
qianfan==0.4.12.3
qtpy==2.4.3
rank_bm25==0.2.2
rank_llm==0.25.6
rapidfuzz==3.13.0
rapidocr_onnxruntime==1.4.4
rdflib==7.1.4
reportlab==4.4.3
requests_kerberos==0.15.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
rizaio==0.12.0
rockset==2.1.2
rspace_client==2.6.1
runhouse==0.0.42
s3fs==2025.7.0
safetensors==0.6.2
sage==0.0.0
scipy==1.16.1
scipy_doctest==2.0.1
scrapingant_client==2.1.0
selenium==4.34.2
semantic_version==2.10.0
setuptools==80.9.0
setuptools_scm==9.1.1
simplejson==3.20.1
simsimd==6.5.0
slack_sdk==3.36.0
smbprotocol==1.15.0
socksio==1.0.0
sodapy==2.2.0
speechkit==2.2.3
speedups==1.4.0
sqlcipher3==0.5.4
sqlframe==3.38.2
sqlite_vec==0.1.6
sqlite_vss==0.1.2
sseclient==0.0.27
stackapi==0.3.1
steamship==2.17.34
steamspypi==1.1.1
svglib==1.5.1
symengine==0.14.1
takeoff_client==0.7.0
telethon==1.40.0
tensorboardX==2.6.4
tensorflow_text==2.19.0
tensorrt==10.13.2.6
textractor==0.1.2
tf2onnx==1.16.1
tf_keras==2.19.0
theano==1.0.5
thirdai==0.9.33
threadpoolctl==3.6.0
tigrisdb==1.0.0b6
tiktoken==0.11.0
timescale_vector==0.0.7
torch_npu==2.6.0
torch_xla==2.8.0
traitlets==5.14.3
tree_sitter==0.25.1
tree_sitter_languages==1.10.2
trubrics==1.8.5
tweepy==4.16.0
ujson==5.10.0
upstash_ratelimit==1.1.0
upstash_vector==0.8.0
uri_template==1.3.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
uv==0.8.8
vearch_cluster==0.0.2
vegafusion==2.0.2
verboselogs==1.7
watchdog==6.0.0
webcolors==24.11.1
Werkzeug==3.1.3
whylogs==1.6.4
wikibase_rest_api_client==0.2.5
wolframalpha==5.1.3
writerai==4.0.1
wsaccel==0.6.7
wsproto==1.2.0
xarray==2025.7.1
xinference_client==1.8.1
xlrd==2.0.2
xlsxwriter==3.2.5
xmlrpclib==1.0.1
xmltodict==0.14.2
yfinance==0.2.65
youtube_search==2.1.2
youtube_transcript_api==1.2.2
yt_dlp==2025.8.11
zep_python==2.0.2
